*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}

:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: hsl(var(--hue), 100%, 20%);
    background-image: url('https://www.otacfitness.com/wp-content/uploads/2018/08/Sports-and-Athletes-Website-Header.png');
    background-size: 100%;
    text-align: center;
}

#flashcard {
    text-align: center;
    border: 2px dashed blue;
    background-color: cornsilk;
    height: 175px;
    width: 90%;
    margin: 15px;
    padding: 15px;
}

#flash-container {
    width: 90%;
    padding: 15px;
}

body.correct{
    --hue: var(--hue-correct);
}

body.wrong{
    --hue: var(--hue-wrong);
}

.container{
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn{
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover{
    border-color: black;
}

.btn.correct{
    --hue: var(--hue-correct);
    color: black;
}

.btn.wrong{
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn, .back-btn, .restart-btn{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.hide{
    display: none;
}

#time{
    background-color: white;
}
